# 配置 pnpm 强制提升，符合条件的库，会被提升至顶层 node_modules 中，子包中使用 peerDependencies 声明依赖

auto-install-peers=true
registry=https://registry.npmjs.com/

# 提升用于代码检测及优化的包
public-hoist-pattern[]=`tailwindcss`
public-hoist-pattern[]=`*types*`
public-hoist-pattern[]=`*eslint*`
public-hoist-pattern[]=`*prettier*`
